{% extends "base.html.twig" %}

{% block title %}Admin | Products{% endblock %}

{% block content %}
<div class="mx-5 m-3">
  <div class="text-center mx-5 mb-2">
    <h1>{{ type }} Products</h1>
  </div>
  <div class="{{ SESSION.error.class }}" role="alert">{{ SESSION.error.msg }}</div>
  <form id="productForm" class="form-horizontal" action="{{ url('admin/products/' ~ type|lower ~ 'Data') }}"
    method="POST">
    <div class="form-group">
      <label class="col-md-4 control-label" for="Product_Name">Product Name</label>
      <div class="col-md-4">
        <input id="Product_Name" name="Product_Name" type="text" value="{{ product.Product_Name }}"
          class="form-control input-md" required="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="Category_Id">Category Name</label>
      <div class="col-md-4">
        <select id="Category_Id" name="Category_Id" class="form-control">
          {% for category in categories %}
          <option value="{{ category.Id}}">{{ category.Category_Name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="SKU">SKU</label>
      <div class="col-md-4">
        <input id="SKU" name="SKU" type="text" value="{{ product.SKU }}" class="form-control input-md" required="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="Image">Image</label>
      <div class="col-md-4">
        <input id="Image" name="Image" class="input-file" type="file">
        {% if product.Image %}
        <td class="text-center"><img class="img-thumbnail" src={{ url("images/product/" ~ product.Image) }}></td>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="Status">Status</label>
      <div class="col-md-4">
        <label class="radio-inline" for="Status-0">
          <input type="radio" name="Status" id="Status-0" value="1" {% if product.Status == "1" %}checked="checked"{% endif %}>
          Unblock
        </label>
        <label class="radio-inline" for="Status-1">
          <input type="radio" name="Status" id="Status-1" value="0" {% if product.Status == "0" %}checked="checked"{% endif %}>
          Block
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="Description">Description</label>
      <div class="col-md-4">
        <textarea class="form-control" id="Description" name="Description">{{ product.Description }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="Short_Description">Short Description</label>
      <div class="col-md-4">
        <textarea class="form-control" id="Short_Description"
          name="Short_Description">{{ product.Short_Description }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="Price">Price</label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="Price" name="Price" class="form-control" value="{{ product.Price }}" type="text" required="">
          <span class="input-group-addon">Rs.</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="Stock">Stock</label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="Stock" name="Stock" class="form-control" value="{{ product.Stock }}" type="text" required="">
          <span class="input-group-addon">Unit</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for=""></label>
      <div class="col-md-8">
        <button id="" name="" type="submit" class="btn btn-primary">{{ type }} Product</button>
        <a href="{{ url('admin/products') }}" class="btn btn-primary">Back</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}