{% extends "base.html.twig" %}

{% block title %}Admin Users index{% endblock %}

{% block container %}
<div class="mx-5 m-3">
	<div class="d-flex justify-content-between mx-5 mb-2">
		<h1>Users</h1>
		<a class="btn btn-primary h-100 my-auto" href={{ static('admin/users/add') }}>Add Users</a>
	</div>
	<div class="{{ SESSION.error.class }}" role="alert">{{ SESSION.error.msg }}</div>
	{% if users %}
	<div class="d-flex justify-content-center">
		<table class="table table-bordered">
			<thead>
				<tr>
					{% for key, value in users[0]|slice(1) %}
					<th>{{ key }}</th>
					{% endfor %}
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					{% for value in user|slice(1) %}
					<td>{{ value }}</td>
					{% endfor %}
					<td>
						<div class="d-flex">
							<a class="btn btn-primary mr-1" href={{ static('admin/users/edit/') ~ user.UserId }}>Update</a>
							<form action={{ static('admin/users/deleteData') }} method="POST">
								<input type="hidden" name="delete" value={{ user.UserId }}>
								<button class="btn btn-danger" type="submit">Delete</button>
							</form>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
	<h5 class="alert alert-danger text-center mt-5">Users not found</h5>
	{% endif %}
</div>
{% endblock %}